.env
.env.*
!.env.example

instance/
*.db

__pycache__/
*.pyc

venv/
.venv/

migrations/versions/*.pyc

app/static/img/avatars/*
!app/static/img/avatars/.gitkeep

!app/static/img/avatars/gallery/
!app/static/img/avatars/gallery/*.jpg
