.env
instance/
*.db
__pycache__/
*.pyc
app/static/img/avatars/*
!app/static/img/avatars/.gitkeep
venv/
.venv/
migrations/versions/*.pyc

!app/static/img/avatars/gallery/
!app/static/img/avatars/gallery/*.jpg
